extends layout

block append head
  script(src="http://code.jquery.com/jquery-1.9.1.js")
  script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/DO.js")
  script(src="javascripts/Chat.js")
  script(src="javascripts/Tablon.js")
  
block content
  div(id="TablonScrum")
  div
    form(id="formnewpost")
      input(type="text", id="txtnewpost")
      input(type="submit", value="Nuevo posit")
        
block chat
  <h2>Chat</h2>
  div(class="content")
    section(id="mensajes" class="scrollable")
    form(id="send-message", class="well form-search")
      input(id="message", class="input-medium search-query", type="text")
      button(type="submit",class="btn") Enviar

  


